# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [86]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
from scipy import stats
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

display(pokemon.groupby(['Legendary']).mean())
display(pokemon.groupby(['Legendary']).apply(np.std))

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,
False,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
True,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Legendary,,,,,,,,,,
False,208.448472,106.687767,24.791966,30.469404,30.387501,29.071908,25.651842,27.824091,1.672332,0.0
True,172.310140,60.466823,21.554423,30.113686,28.036941,30.864414,28.604398,22.775082,1.444025,0.0

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [19]:
# Your code here: 

pokemon_total = pokemon[['Total','Legendary']]

legendary = pokemon_total[pokemon_total['Legendary'] == True]
no_legendary = pokemon_total[pokemon_total['Legendary'] == False]

ttest_ind(legendary['Total'], no_legendary['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

'''
Como el p-value es menor de 0.05 podemos concluir que presentan diferencias estadisticamente significativas.

'''

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [20]:
# Your code here:

pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [29]:
# Your code here:

water = pokemon[pokemon['Type 1'] == 'Water']
no_water = pokemon[pokemon['Type 1'] != 'Water']

display(water.mean())
display(no_water.mean())

display(np.std(water))
display(np.std(no_water))

#             303.089286
Total         430.455357
HP             72.062500
Attack         74.151786
Defense        72.946429
Sp. Atk        74.812500
Sp. Def        70.517857
Speed          65.964286
Generation      2.857143
Legendary       0.035714
dtype: float64

#             372.536337
Total         435.859012
HP             68.802326
Attack         79.790698
Defense        73.988372
Sp. Atk        72.495640
Sp. Def        72.127907
Speed          68.654070
Generation      3.399709
Legendary       0.088663
dtype: float64

#             187.597668
Total         112.681828
HP             27.364041
Attack         28.250224
Defense        27.649541
Sp. Atk        28.900238
Sp. Def        28.333153
Speed          22.916357
Generation      1.551826
Legendary       0.185577
dtype: float64

#             209.776179
Total         121.003648
HP             25.175983
Attack         33.001142
Defense        31.696872
Sp. Atk        33.268333
Sp. Def        27.719126
Speed          29.904151
Generation      1.664908
Legendary       0.284256
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [30]:
# Your code here:

display(ttest_ind(water['Total'], no_water['Total']))

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:

'''
Como el p-value es mayor que 0.05 debemos aceptar la hipótesis nula de que la media de ambos grupos es similar,
no hay diferencia significativa entre las medias de los puntos totales de pokemon agua vs. no agua

'''

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [32]:
# Your code here:

stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

'''
El pvalor mucho menor que 0.05 por tanto podemos asumir que las puntuaciones medias de ataque y defensa presentan
diferencias estadísticamente significativas.

'''

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [33]:
# Your code here:

stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
'''
Al contrario que en el caso anterior, las medias de las puntuaciones de ataque y defensa especial no presentan 
diferencias estadísticamente significativas.

'''

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [66]:
# Your code here:
attack = pokemon['Attack'].mean()
defense = pokemon['Defense'].mean()
attack_std = np.std(pokemon['Attack'])

display("media de attack: {}".format(attack))
display("media de la muesta de attack: {}".format(sample_attack.mean()))
display ("media de defense: {}".format(defense))

sample_attack = np.random.normal(attack, attack_std, 300)

display(stats.ttest_1samp(sample_attack,defense))

#Solo sale lo mismo cuando tomamos una muestra grande, como a partir de 300, si tomamos una muestra de 100 a veces 
#salen que hay diferencias significativas y otras veces no.

'media de attack: 79.00125'

'media de la muesta de attack: 78.15283455139321'

'media de defense: 73.8425'

Ttest_1sampResult(statistic=2.846455614339722, pvalue=0.0047266977259785865)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [83]:
# Your code here:

crosstab_poke = pd.crosstab(pokemon['Legendary'],[(pokemon['Type 1'] == 'Water'),(pokemon['Type 1'] != 'Water')],rownames=['Legendary'], colnames=['Water','No Water'])

crosstab_poke

Water     False True
No Water  True  False
Legendary
False       627   108
True         61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [93]:
# Your code here:

chi2, p, dof, ex = chi2_contingency(crosstab_poke, correction=False)

chi2, p, dof, ex

(3.617455159932616, 0.0571762700873503, 1, array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:

'''
La pvalue es 0.057 por lo que estaríamos en el límite para poder rechazar la hipótesis nula, si la rechazamos
asumiríamos que no hay relación entre la frecuencia de aparición de pokemon legendarios-water,legendarios-nowater,
nolegengarios-water y nolegendarios-nowater.

'''