In [81]:
import pandas as pd
import numpy as np
import os

1. Importar el archivo de la base de datos 'Global shark attack incidents'.

In [82]:
shark_attack = pd.read_csv('GSAF5.csv', encoding = 'latin1')
shark_attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

2. Ver el numero de nulos por columna

In [83]:
nulos = shark_attack.isnull().sum()
nulos[nulos > 0]

#tiene un total de 5992 filas y 24 columnas

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

3. Ver la lista de columnas y que tipo de datos alberga cada una.

In [84]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

4. Eliminar duplicados en base a las columnas con los datos mas representativos, eliminando columnas repetidas o que no aportan ningun tipo de información.

In [85]:
before = len(shark_attack)

select_columns = ['Case Number','Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ']

shark_attack = shark_attack[select_columns].drop_duplicates()

after = len(shark_attack)
print('Numero de registros duplicados: ', str(before - after))

Numero de registros duplicados:  0

In [86]:
shark_attack.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species '],
      dtype='object')

In [87]:
shark_attack.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark

5. Vuelvo a comprobar los nulos para determinar que columnas son las que pueden aportar mas info.

In [88]:
nulos = shark_attack.isnull().sum()
nulos[nulos > 0]

Country          43
Area            402
Location        496
Activity        527
Name            200
Sex             567
Age            2681
Injury           27
Fatal (Y/N)      19
Time           3213
Species        2934
dtype: int64

Al comprobar los nulos de nuevo, se puede observar que las columnas que estan completas son las referentes a la fecha y el tipo de ataque. Los daños causados y el desenlace del ataque son columnas con nulos pero menos que las columnas referentes a la localización o a quien ataco y que tipo de tiburon ataco.

6. Ordeno las columnas por: Cuando, donde, a quién, como y quién (que especie).

In [89]:
column_order = ['Case Number','Year','Date','Time',
                'Country','Area','Location',
                'Name', 'Sex ','Age',
                'Type','Activity',
                'Injury','Fatal (Y/N)',
                'Species ']

shark_attack = shark_attack[column_order]
shark_attack.head()

,Case Number,Year,Date,Time,Country,Area,Location,Name,Sex,Age,Type,Activity,Injury,Fatal (Y/N),Species
0,2016.09.18.c,2016,18-Sep-16,13h00,USA,Florida,"New Smyrna Beach, Volusia County",male,M,16,Unprovoked,Surfing,Minor injury to thigh,N,NaN
1,2016.09.18.b,2016,18-Sep-16,11h00,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,M,36,Unprovoked,Surfing,Lacerations to hands,N,NaN
2,2016.09.18.a,2016,18-Sep-16,10h43,USA,Florida,"New Smyrna Beach, Volusia County",male,M,43,Unprovoked,Surfing,Lacerations to lower leg,N,NaN
3,2016.09.17,2016,17-Sep-16,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,M,NaN,Unprovoked,Surfing,Struck by fin on chest & leg,N,NaN
4,2016.09.15,2016,16-Sep-16,NaN,AUSTRALIA,Victoria,Bells Beach,male,M,NaN,Unprovoked,Surfing,No injury: Knocked off board by shark,N,2 m shark

7. Comprobar outliers, primero ver el tipo de datos de cada columna

In [90]:
shark_attack.dtypes

Case Number    object
Year            int64
Date           object
Time           object
Country        object
Area           object
Location       object
Name           object
Sex            object
Age            object
Type           object
Activity       object
Injury         object
Fatal (Y/N)    object
Species        object
dtype: object

In [91]:
shark_attack.Year.unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 1934, 1933, 1932, 1931, 1930,
       1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921, 1920, 1919,
       1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910, 1909, 1908,
       1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899, 1898, 1897,
       1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888, 1887, 1886,
       1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877, 1876, 1875,
       1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866, 1865, 1864,
       1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854, 1853, 1852,
       1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841, 1840, 1839,
       1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828, 1827, 1826,
       1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807, 1805, 1804,
       1803, 1800, 1791, 1788, 1787, 1785, 1779, 1776, 1771, 1767, 1764,
       1758, 1749, 1755, 1748, 1742, 1738, 1733, 1721, 1703, 1700, 1642,
       1638, 1637, 1617, 1595, 1580, 1555, 1554, 1543,  500,   77,    5,
          0])

In [92]:
filteredyear = list(shark_attack[(shark_attack['Year']<=500)].index)

In [93]:
shark_attack = shark_attack.drop(filteredyear, axis=0)

# Elimino los registros que tienen como "Year" un año menor que 500, ya que son de dudosa veracidad..

In [94]:
shark_attack.Year.count()

5865

 ***** 7. La primera columna Case Number en realidad es como el ID de cada caso, solo que usan la fecha y posteriormente una letra si hay varios ataques en la misma fecha. Voy a eliminarla y dejar unicamente el index.