## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [11]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
sample_list_1 = random.sample(range(1,101), 80)

print (len(sample_list_1) , sample_list_1)

80 [38, 25, 43, 14, 72, 70, 21, 62, 13, 63, 89, 77, 29, 95, 58, 5, 83, 31, 84, 52, 55, 47, 18, 81, 73, 67, 51, 8, 93, 71, 34, 54, 61, 17, 19, 82, 85, 45, 28, 4, 80, 23, 97, 30, 2, 57, 16, 98, 99, 96, 37, 86, 69, 12, 22, 3, 48, 10, 32, 36, 11, 91, 41, 20, 76, 49, 66, 88, 33, 50, 35, 53, 78, 87, 7, 75, 59, 46, 44, 100]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
set1 = set(sample_list_1)

print (len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
sample_list_2=[]

for i in range (80):
    sample_list_2.append (random.randint(0, 100))

print(len(sample_list_2), sample_list_2)

80 [21, 17, 47, 32, 59, 87, 11, 32, 50, 71, 94, 94, 18, 43, 84, 22, 52, 75, 37, 28, 39, 84, 0, 41, 61, 48, 18, 74, 66, 64, 98, 84, 1, 44, 69, 93, 96, 79, 97, 4, 91, 22, 22, 50, 82, 77, 56, 1, 34, 40, 12, 88, 57, 0, 68, 96, 98, 54, 44, 90, 36, 43, 91, 83, 83, 50, 95, 25, 65, 50, 95, 4, 60, 74, 63, 13, 35, 48, 6, 53]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
set2 = set(sample_list_2)

print (len(set2))

#No tiene el mismo numero de elementos porque en un set no hay elementos repetidos

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
set3 = set1.difference(set2)
print (len(set3), set3)

36 {2, 3, 5, 7, 8, 10, 14, 16, 19, 20, 23, 29, 30, 31, 33, 38, 45, 46, 49, 51, 55, 58, 62, 67, 70, 72, 73, 76, 78, 80, 81, 85, 86, 89, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
set4 = set2.difference(set1)
print (len(set4),set4)

14 {0, 1, 64, 65, 68, 6, 39, 40, 74, 79, 56, 90, 60, 94}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
set5 = set1.intersection(set2)
print (len(set5),set5)

44 {4, 11, 12, 13, 17, 18, 21, 22, 25, 28, 32, 34, 35, 36, 37, 41, 43, 44, 47, 48, 50, 52, 53, 54, 57, 59, 61, 63, 66, 69, 71, 75, 77, 82, 83, 84, 87, 88, 91, 93, 95, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
print (len(set2)-len(set5)==len(set4))
print (len(set1)-len(set5)==len(set3))

True
True

#### Create an empty set called `set6`.

In [27]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [29]:
set6.update(set3)
set6.update(set5)
print (len(set6),set6)

80 {2, 3, 4, 5, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [30]:
print (len(set1)== len (set6))

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [32]:
print(set2.issubset(set1))
      
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [35]:
newset1 = set3.union(set4,set5)
newset2 = set1.union(set2)

print (len(newset1)==len(newset2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [49]:
# pop eliminariamos un elemento al azar, no se puede elegir cual

numero_azar = set1.pop()
print ("He eliminado el número "+ str (numero_azar)+" de forma aleatoria con el método pop")

# para eliminar concretamente el primer elemento hay que hacerlo con remove

He eliminado el número 11 de forma aleatoria con el método pop

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [50]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1.difference(list_to_remove)

print (set1)

{12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 57, 58, 59, 61, 62, 63, 66, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 93, 95, 96, 97, 98, 99, 100}