--> PIPELINE PROJECT <--

In [1]:
# importar modulos necesarios

import pandas as pd
import numpy as np
import re

1. Acquisition

In [2]:
# cargar el dataset elegido

avocados = pd.read_csv('avocado.csv')

avocados.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
avocados.shape

(18249, 14)

2. Wrangling

In [4]:
# comprobar los datos nulos del data set

avocados.isnull().sum()  # No hay nulos en ninguna columna

Unnamed: 0      0
Date            0
AveragePrice    0
Total Volume    0
4046            0
4225            0
4770            0
Total Bags      0
Small Bags      0
Large Bags      0
XLarge Bags     0
type            0
year            0
region          0
dtype: int64

In [5]:
avocados.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [6]:
# Comprobar que no hay duplicados
before = len(avocados)

select_columns = ['Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region']

avocados = avocados[select_columns].drop_duplicates()

after = len(avocados)

print('Numero de registros duplicados: ', str(before - after))

Numero de registros duplicados:  0

In [7]:
# Extraer el mes de la columna fecha y desechar el resto

month = []
for e in avocados["Date"]:
    aux= e.split("-")
    month.append(aux[1])
    
avocados['month'] = pd.Series(month, index=avocados.index) # AÃ±adir columna Month al dataframe

In [8]:
# Cambio del orden de las columnas

column_order = ['region','year','month','type','AveragePrice','Total Volume','4046','4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags']

avocados = avocados[column_order]

In [9]:
# comprobar el tipo de datos de las columnas. cambiar year a objeto

avocados['year'] = avocados['year'].astype('object')

In [10]:
# renombrar algunas columnas

avocados.columns = ['Region','Year','Month','Variety','Avg Price','Total Volume',
                    'S-M size','L size','XL size','Total Bags','S bags','L bags','XL bags']
avocados

,Region,Year,Month,Variety,Avg Price,Total Volume,S-M size,L size,XL size,Total Bags,S bags,L bags,XL bags
0,Albany,2015,12,conventional,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.00
1,Albany,2015,12,conventional,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.00
2,Albany,2015,12,conventional,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.00
3,Albany,2015,12,conventional,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.00
4,Albany,2015,11,conventional,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.00
5,Albany,2015,11,conventional,1.26,55979.78,1184.27,48067.99,43.61,6683.91,6556.47,127.44,0.00
6,Albany,2015,11,conventional,0.99,83453.76,1368.92,73672.72,93.26,8318.86,8196.81,122.05,0.00
7,Albany,2015,11,conventional,0.98,109428.33,703.75,101815.36,80.00,6829.22,6266.85,562.37,0.00
8,Albany,2015,11,conventional,1.02,99811.42,1022.15,87315.57,85.34,11388.36,11104.53,283.83,0.00
9,Albany,2015,10,conventional,1.07,74338.76,842.40,64757.44,113.00,8625.92,8061.47,564.45,0.00
10,Albany,2015,10,conventional,1.12,84843.44,924.86,75595.85,117.07,8205.66,7877.86,327.80,0.00
11,Albany,2015,10,conventional,1.28,64489.17,1582.03,52677.92,105.32,10123.90,9866.27,257.63,0.00
12,Albany,2015,10,conventional,1.31,61007.10,2268.32,49880.67,101.36,8756.75,8379.98,376.77,0.00
13,Albany,2015,09,conventional,0.99,106803.39,1204.88,99409.21,154.84,6034.46,5888.87,145.59,0.00
14,Albany,2015,09,conventional,1.33,69759.01,1028.03,59313.12,150.50,9267.36,8489.10,778.26,0.00
15,Albany,2015,09,conventional,1.28,76111.27,985.73,65696.86,142.00,9286.68,8665.19,621.49,0.00
16,Albany,2015,09,conventional,1.11,99172.96,879.45,90062.62,240.79,7990.10,7762.87,227.23,0.00
17,Albany,2015,08,conventional,1.07,105693.84,689.01,94362.67,335.43,10306.73,10218.93,87.80,0.00
18,Albany,2015,08,conventional,1.34,79992.09,733.16,67933.79,444.78,10880.36,10745.79,134.57,0.00
19,Albany,2015,08,conventional,1.33,80043.78,539.65,68666.01,394.90,10443.22,10297.68,145.54,0.00
20,Albany,2015,08,conventional,1.12,111140.93,584.63,100961.46,368.95,9225.89,9116.34,109.55,0.00
21,Albany,2015,08,conventional,1.45,75133.10,509.94,62035.06,741.08,11847.02,11768.52,78.50,0.00
22,Albany,2015,07,conventional,1.11,106757.10,648.75,91949.05,966.61,13192.69,13061.53,131.16,0.00
23,Albany,2015,07,conventional,1.26,96617.00,1042.10,82049.40,2238.02,11287.48,11103.49,183.99,0.00
24,Albany,2015,07,conventional,1.05,124055.31,672.25,94693.52,4257.64,24431.90,24290.08,108.49,33.33
25,Albany,2015,07,conventional,1.35,109252.12,869.45,72600.55,5883.16,29898.96,29663.19,235.77,0.00
26,Albany,2015,06,conventional,1.37,89534.81,664.23,57545.79,4662.71,26662.08,26311.76,350.32,0.00
27,Albany,2015,06,conventional,1.27,104849.39,804.01,76688.55,5481.18,21875.65,21662.00,213.65,0.00
28,Albany,2015,06,conventional,1.32,89631.30,850.58,55400.94,4377.19,29002.59,28343.14,659.45,0.00
29,Albany,2015,06,conventional,1.07,122743.06,656.71,99220.82,90.32,22775.21,22314.99,460.22,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18219,TotalUS,2018,02,organic,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60
18220,TotalUS,2018,02,organic,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41
18221,TotalUS,2018,01,organic,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38
18222,TotalUS,2018,01,organic,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27
18223,TotalUS,2018,01,organic,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12
18224,TotalUS,2018,01,organic,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89
18225,West,2018,03,organic,1.60,271723.08,26996.28,77861.39,117.56,166747.85,87108.00,79495.39,144.46
18226,West,2018,03,organic,1.73,210067.47,33437.98,47165.54,110.40,129353.55,73163.12,56020.24,170.19
18227,West,2018,03,organic,1.63,264691.87,27566.25,60383.57,276.42,176465.63,107174.93,69290.70,0.00
18228,West,2018,03,organic,1.46,347373.17,25990.60,71213.19,79.01,250090.37,85835.17,164087.33,167.87
18229,West,2018,02,organic,1.49,301985.61,34200.18,49139.34,85.58,218560.51,99989.62,118314.77,256.12
18230,West,2018,02,organic,1.64,224798.60,30149.00,38800.64,123.13,155725.83,120428.13,35257.73,39.97
18231,West,2018,02,organic,1.47,275248.53,24732.55,61713.53,243.00,188559.45,88497.05,99810.80,251.60
18232,West,2018,02,organic,1.41,283378.47,22474.66,55360.49,133.41,205409.91,70232.59,134666.91,510.41
18233,West,2018,01,organic,1.80,185974.53,22918.40,33051.14,93.52,129911.47,77822.23,51986.86,102.38
18234,West,2018,01,organic,1.83,189317.99,27049.44,33561.32,439.47,128267.76,76091.99,51947.50,228.27
18235,West,2018,01,organic,1.82,207999.67,33869.12,47435.14,433.52,126261.89,89115.78,37133.99,12.12
18236,West,2018,01,organic,1.48,297190.60,34734.97,62967.74,157.77,199330.12,103761.55,95544.39,24.18
18237,WestTexNewMexico,2018,03,organic,1.62,15303.40,2325.30,2171.66,0.00,10806.44,10569.80,236.64,0.00
18238,WestTexNewMexico,2018,03,organic,1.56,15896.38,2055.35,1499.55,0.00,12341.48,12114.81,226.67,0.00
18239,WestTexNewMexico,2018,03,organic,1.56,22128.42,2162.67,3194.25,8.93,16762.57,16510.32,252.25,0.00
18240,WestTexNewMexico,2018,03,organic,1.54,17393.30,1832.24,1905.57,0.00,13655.49,13401.93,253.56,0.00
18241,WestTexNewMexico,2018,02,organic,1.57,18421.24,1974.26,2482.65,0.00,13964.33,13698.27,266.06,0.00
18242,WestTexNewMexico,2018,02,organic,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.00
18243,WestTexNewMexico,2018,02,organic,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.00
18244,WestTexNewMexico,2018,02,organic,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.00
18245,WestTexNewMexico,2018,01,organic,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.00
18246,WestTexNewMexico,2018,01,organic,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.00
18247,WestTexNewMexico,2018,01,organic,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.00
18248,WestTexNewMexico,2018,01,organic,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.00

In [11]:
# Guardo un csv con los datos manipulados

avocados.to_csv('manipulated_avocados.csv',index=False)

3.Analysis

HIPÃTESIS:
- El precio medio serÃ¡ menor el mÃ©s en el que se venda un mayor volumen de aguacates

In [12]:
# Dado que del aÃ±o 2018 solo hay registros hasta marzo voy a eliminar esos datos
filteredyear = list(avocados[(avocados['Year']==2018)].index) 
avocados = avocados.drop(filteredyear, axis=0)

In [13]:
# Mes con mas volumen de ventas
month_volume = avocados.groupby(['Month'])['Total Volume'].sum()

month_volume

# Mayo es el mes con mayor volumen de ventas, seguido de enero.

Month
01    1.326824e+09
02    1.262751e+09
03    1.168699e+09
04    1.235792e+09
05    1.470745e+09
06    1.202566e+09
07    1.298881e+09
08    1.128375e+09
09    9.763016e+08
10    1.028756e+09
11    9.541687e+08
12    1.086807e+09
Name: Total Volume, dtype: float64

In [14]:
year_month_volume = avocados.groupby(['Month','Year'])['Total Volume'].sum()

year_month_volume

Month  Year
01     2015    3.180852e+08
       2016    4.754058e+08
       2017    5.333330e+08
02     2015    3.626376e+08
       2016    4.286458e+08
       2017    4.714672e+08
03     2015    4.185831e+08
       2016    3.912124e+08
       2017    3.589034e+08
04     2015    3.441444e+08
       2016    4.018328e+08
       2017    4.898145e+08
05     2015    4.837840e+08
       2016    5.612305e+08
       2017    4.257305e+08
06     2015    3.818267e+08
       2016    4.103282e+08
       2017    4.104107e+08
07     2015    3.567019e+08
       2016    4.672753e+08
       2017    4.749037e+08
08     2015    4.192448e+08
       2016    3.707970e+08
       2017    3.383330e+08
09     2015    3.292188e+08
       2016    3.623033e+08
       2017    2.847795e+08
10     2015    3.057761e+08
       2016    3.602018e+08
       2017    3.627780e+08
11     2015    3.694400e+08
       2016    2.602093e+08
       2017    3.245193e+08
12     2015    2.960259e+08
       2016    3.314478e+08
       2017    4.593329e+08
Name: Total Volume, dtype: float64

In [15]:
year_avgprice = avocados.groupby(['Year'])['Avg Price'].mean()
year_avgprice

# Por aÃ±o se observa que se ha incrementado el precio medio en 2017. Aunque no es lineal, en 2016 disminuyÃ³

Year
2015    1.375590
2016    1.338640
2017    1.515128
Name: Avg Price, dtype: float64

In [16]:
month_avgprice = avocados.groupby(['Month'])['Avg Price'].mean()
month_avgprice

#

Month
01    1.289187
02    1.259614
03    1.330962
04    1.374380
05    1.346601
06    1.408964
07    1.462077
08    1.512514
09    1.572654
10    1.579683
11    1.455563
12    1.331112
Name: Avg Price, dtype: float64

In [17]:
# Precio medio por mes y aÃ±o
month_avgprice = avocados.groupby(['Month','Year'])['Avg Price'].mean()

month_avgprice

Month  Year
01     2015    1.365046
       2016    1.240185
       2017    1.277500
02     2015    1.326944
       2016    1.237106
       2017    1.214792
03     2015    1.361981
       2016    1.224213
       2017    1.398935
04     2015    1.383449
       2016    1.205023
       2017    1.502611
05     2015    1.344685
       2016    1.199722
       2017    1.532593
06     2015    1.399074
       2016    1.283056
       2017    1.545395
07     2015    1.409444
       2016    1.401333
       2017    1.564926
08     2015    1.444481
       2016    1.411111
       2017    1.698958
09     2015    1.449144
       2016    1.427870
       2017    1.840949
10     2015    1.391968
       2016    1.557093
       2017    1.752444
11     2015    1.330611
       2016    1.550023
       2017    1.517292
12     2015    1.305244
       2016    1.315995
       2017    1.363852
Name: Avg Price, dtype: float64

In [18]:
region_avgprice = avocados.groupby(['Region','Year'])['Avg Price'].mean()

region_avgprice

Region               Year
Albany               2015    1.538750
                     2016    1.533942
                     2017    1.637830
Atlanta              2015    1.380577
                     2016    1.214135
                     2017    1.428774
BaltimoreWashington  2015    1.368846
                     2016    1.587596
                     2017    1.679434
Boise                2015    1.373750
                     2016    1.141923
                     2017    1.492642
Boston               2015    1.473558
                     2016    1.426154
                     2017    1.679528
BuffaloRochester     2015    1.544615
                     2016    1.483846
                     2017    1.587736
California           2015    1.315865
                     2016    1.329904
                     2017    1.533868
Charlotte            2015    1.575769
                     2016    1.497885
                     2017    1.769811
Chicago              2015    1.404038
                     2016    1.547308
                     2017    1.714811
CincinnatiDayton     2015    1.202308
                     2016    1.088365
                     2017    1.319434
                               ...
SouthCarolina        2015    1.454712
                     2016    1.305000
                     2017    1.479811
SouthCentral         2015    1.112019
                     2016    1.026923
                     2017    1.162830
Southeast            2015    1.414712
                     2016    1.286923
                     2017    1.512170
Spokane              2015    1.400385
                     2016    1.333558
                     2017    1.604528
StLouis              2015    1.503365
                     2016    1.185481
                     2017    1.591792
Syracuse             2015    1.529038
                     2016    1.503462
                     2017    1.589434
Tampa                2015    1.356635
                     2016    1.264519
                     2017    1.619340
TotalUS              2015    1.257404
                     2016    1.263558
                     2017    1.436604
West                 2015    1.237788
                     2016    1.180865
                     2017    1.390000
WestTexNewMexico     2015    1.259320
                     2016    1.246635
                     2017    1.281538
Name: Avg Price, Length: 162, dtype: float64

In [19]:
region_volume = avocados.groupby(['Region','Year'])['Total Volume'].sum()

region_volume

Region               Year
Albany               2015    4.029896e+06
                     2016    5.264336e+06
                     2017    5.231582e+06
Atlanta              2015    2.323170e+07
                     2016    2.832688e+07
                     2017    2.881512e+07
BaltimoreWashington  2015    4.064558e+07
                     2016    4.089380e+07
                     2017    4.101563e+07
Boise                2015    3.784357e+06
                     2016    4.653510e+06
                     2017    4.760561e+06
Boston               2015    2.745499e+07
                     2016    3.057132e+07
                     2017    3.061067e+07
BuffaloRochester     2015    5.893235e+06
                     2016    7.205112e+06
                     2017    7.740306e+06
California           2015    3.014074e+08
                     2016    3.261884e+08
                     2017    3.176445e+08
Charlotte            2015    9.487343e+06
                     2016    1.058672e+07
                     2017    1.189559e+07
Chicago              2015    4.149472e+07
                     2016    3.961264e+07
                     2017    4.098075e+07
CincinnatiDayton     2015    1.175618e+07
                     2016    1.402087e+07
                     2017    1.514668e+07
                                 ...
SouthCarolina        2015    1.624587e+07
                     2016    1.870286e+07
                     2017    1.996897e+07
SouthCentral         2015    2.904546e+08
                     2016    3.040987e+08
                     2017    3.254226e+08
Southeast            2015    1.600952e+08
                     2016    1.981215e+08
                     2017    1.967373e+08
Spokane              2015    4.181687e+06
                     2016    5.006167e+06
                     2017    5.151528e+06
StLouis              2015    9.902575e+06
                     2016    1.064448e+07
                     2017    8.988123e+06
Syracuse             2015    2.734333e+06
                     2016    3.429369e+06
                     2017    3.731978e+06
Tampa                2015    1.713160e+07
                     2016    2.168075e+07
                     2017    2.055014e+07
TotalUS              2015    1.657255e+09
                     2016    1.819159e+09
                     2017    1.864694e+09
West                 2015    3.046703e+08
                     2016    3.445773e+08
                     2017    3.450544e+08
WestTexNewMexico     2015    4.152400e+07
                     2016    4.380743e+07
                     2017    4.738959e+07
Name: Total Volume, Length: 162, dtype: float64

In [20]:
region_volume = avocados.groupby(['Region'])['Total Volume'].sum()

region_volume.sort_values(ascending=False)

Region
TotalUS                5.341108e+09
West                   9.943021e+08
California             9.452403e+08
SouthCentral           9.199759e+08
Northeast              6.469574e+08
Southeast              5.549539e+08
GreatLakes             5.364819e+08
LosAngeles             4.698442e+08
Midsouth               4.600360e+08
Plains                 2.831605e+08
NewYork                2.170049e+08
DallasFtWorth          1.902475e+08
Houston                1.831854e+08
PhoenixTucson          1.776305e+08
WestTexNewMexico       1.327210e+08
Denver                 1.270572e+08
SanFrancisco           1.228469e+08
BaltimoreWashington    1.225550e+08
Chicago                1.220881e+08
Portland               1.021544e+08
Seattle                1.012731e+08
Boston                 8.863698e+07
MiamiFtLauderdale      8.793180e+07
SanDiego               8.311807e+07
Atlanta                8.037370e+07
Sacramento             6.829600e+07
Philadelphia           6.527156e+07
NorthernNewEngland     6.489673e+07
Tampa                  5.936248e+07
Detroit                5.739946e+07
SouthCarolina          5.491769e+07
Orlando                5.274576e+07
LasVegas               4.988327e+07
HartfordSpringfield    4.618280e+07
RaleighGreensboro      4.341384e+07
NewOrleansMobile       4.163118e+07
CincinnatiDayton       4.092372e+07
RichmondNorfolk        3.823603e+07
HarrisburgScranton     3.790705e+07
Nashville              3.209974e+07
Charlotte              3.196965e+07
StLouis                2.953517e+07
GrandRapids            2.764227e+07
Indianapolis           2.735472e+07
Columbus               2.714946e+07
Jacksonville           2.608160e+07
Roanoke                2.255124e+07
BuffaloRochester       2.083865e+07
Pittsburgh             1.690483e+07
Louisville             1.462544e+07
Albany                 1.452581e+07
Spokane                1.433938e+07
Boise                  1.319843e+07
Syracuse               9.895680e+06
Name: Total Volume, dtype: float64