# GEOSPACIAL VISUALIZATION PROJECT

- Mi empresa:
    - Compañia de software con 50 empleados.
    - Producto: videojuegos
    - Empleados: 20 developers, 20 Designers/Creatieves/UX/UI and 10 executives/managers
     
- Requisitos buscados para localizar la empresa: radio de cercania: 50 km

        --> offices.latitude
        --> offices.longitude
        
    - Debe haber software engineers trabajando cerca:
        - category_code: 'software','web','biotech','mobile','hardware','games_video','ecommerce','enterprise','public_relations','consulting'
    
    - Debe haber un buen ratio entre grandes compañias / startups
        - number_of_employees: 0-100 small; 100-999 medium; >1000 big
        - total_money_raised
        
    - Empresas cercanas deben cubrir los intereses de mis trabajadores --> Text mining
        - description
        - tag_list
        - twitter_username: nº de seguidores, nºtweets, text mining (topics)
        
    - Prefiero estar cerca de compañias nuevas que viejas
        - deadpooled_year: null -- ELimino las compañias que quebraron
        
        - founded_year -- considero solo compañias con 10 años de antiguedad maximo

CAMPOS DEL DATASET:

offices.latitude; offices.longitude; 
name, category_code
number_of_employees; total_money_raised
description; tag_list; twitter_username
founded_year; deadpooled_year: null

In [1]:
import pymongo
MongoClient = pymongo.MongoClient
client = MongoClient()
db = client.companies

1. Crear un cursor con los campos que me interesan y filtrando de entrada ciertas empresas.

In [2]:
companies_interest = db.companies.find({"deadpooled_year": None},
                                       {"_id":0,"name":1,"category_code":1,"number_of_employees":1,"ipo.valuation_amount":1,
                                       "total_money_raised":1,"description":1,
                                       "tag_list":1,"founded_year":1,"twitter_username":1,
                                       "offices.latitude":1,"offices.longitude":1})

companies_interest = list(companies_interest)

In [3]:
import pandas as pd

df_companies = pd.DataFrame(companies_interest)
df_companies.head(20)

df_companies.shape

(17872, 10)

In [4]:
df_companies.describe()

       founded_year  number_of_employees
count  12425.000000          8403.000000
mean    2002.243058           840.450315
std       13.328602         11384.038864
min     1800.000000             0.000000
25%     2001.000000             4.000000
50%     2006.000000            10.000000
75%     2008.000000            35.000000
max     2013.000000        405000.000000

In [5]:
#Change somethings in columns

df_= pd.DataFrame(pd.DataFrame(df_companies["offices"].values.flatten([0]).tolist()))
df_companies = pd.concat([df_,df_companies],axis=1)


#al aplicar flatten sobre la columna 'offices' se generan 62 columnas, la mayoria vacias. me quedo unicamente
#con la primera, que representa la primera oficina y donde la gran mayoria de las entradas presentan datos

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Non-string object detected for the array ordering. Please pass in 'C', 'F', 'A', or 'K' instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
df_companies = df_companies[['name','category_code',0,'founded_year','number_of_employees',
                             'total_money_raised','description','tag_list','twitter_username']].copy()

In [7]:
df_companies.columns  = ['name','category','coords','founded_year','employees','total_money_raised',
                         'description','tags','twitter']

df_companies.head()

,name,category,coords,founded_year,employees,total_money_raised,description,tags,twitter
0,Digg,news,"{'latitude': 37.764726, 'longitude': -122.394523}",2004.0,60.0,$45M,user driven social content website,"community, social, news, bookmark, digg, techn...",digg
1,Flektor,games_video,"{'latitude': 34.025958, 'longitude': -118.379768}",NaN,NaN,$0,None,"flektor, photo, video",None
2,Postini,web,"{'latitude': 37.506885, 'longitude': -122.247573}",1999.0,NaN,$0,None,,None
3,Geni,web,"{'latitude': 34.090368, 'longitude': -118.393064}",2006.0,18.0,$16.5M,Geneology social network site,"geni, geneology, social, family, genealogy",geni
4,Fox Interactive Media,web,"{'latitude': 34.076179, 'longitude': -118.39417}",1979.0,0.0,$0,,,twitterapi

In [8]:
#elimino las filas que no tengan valor en founded year o en employees

import numpy as np

df_companies = df_companies[np.isfinite(df_companies['founded_year'])]
df_companies = df_companies[np.isfinite(df_companies['employees'])]

df_companies.isnull().sum()

name                     0
category                42
coords                1244
founded_year             0
employees                0
total_money_raised       0
description           2144
tags                   198
twitter               2651
dtype: int64

In [9]:
# cambio el tipo de dato ya que estaba como floats

df_companies['employees'] = df_companies['employees'].astype('int64')
df_companies['founded_year'] = df_companies['founded_year'].astype('int64')

In [10]:
# Creo bins con el número de empleados para diferenciar entre pequeña, mediana y gran empresa

bins = [0,10,100,999,500000]
labels = ["startup","small","medium","big"]
df_companies['tamaño_empresa'] = pd.cut(df_companies['employees'], bins=bins, labels=labels)

tamaño_count = df_companies.groupby(df_companies.tamaño_empresa)['name'].nunique()

tamaño_count

tamaño_empresa
startup    3906
small      2591
medium      674
big         211
Name: name, dtype: int64

In [11]:
# Extraer el numero en columna total money raised como indicador de tamaño de empresa

import re

def change_row (row):
    row = ''.join((ch if ch in '0123456789.' else ' ') for ch in row)
    return row

df_companies['total_money_raised'] = (df_companies['total_money_raised'].apply(change_row))

df_companies['total_money_raised(M)'] = df_companies['total_money_raised'].astype('float64')

df_companies = df_companies.reset_index()

df_companies = df_companies.drop(['total_money_raised','index'], axis=1,)

In [12]:
df_companies.head()

,name,category,coords,founded_year,employees,description,tags,twitter,tamaño_empresa,total_money_raised(M)
0,Digg,news,"{'latitude': 37.764726, 'longitude': -122.394523}",2004,60,user driven social content website,"community, social, news, bookmark, digg, techn...",digg,small,45.00
1,Geni,web,"{'latitude': 34.090368, 'longitude': -118.393064}",2006,18,Geneology social network site,"geni, geneology, social, family, genealogy",geni,small,16.50
2,Fox Interactive Media,web,"{'latitude': 34.076179, 'longitude': -118.39417}",1979,0,,,twitterapi,NaN,0.00
3,Scribd,news,"{'latitude': 37.789634, 'longitude': -122.404052}",2007,50,Read Unlimited Books,"book-subscription, digital-library, netflix-fo...",scribd,small,25.80
4,MeetMoi,social,"{'latitude': 40.757929, 'longitude': -73.985506}",2007,15,Mobile Dating,"mobile, dating, location, realtime, phone",meetmoi,small,5.58

In [13]:
df_companies.dropna(subset=['coords'], inplace=True)
df_companies.dropna(subset=['tamaño_empresa'], inplace=True)
df_companies.dropna(subset=['category'], inplace=True)


def toGeoJSON(array):
    return {
        "type":"Point",
        "coordinates":[array['longitude'],array['latitude']]
    }


df_companies['coords'] = df_companies.apply(lambda r: toGeoJSON(r['coords']), axis=1)


df_companies.head()

,name,category,coords,founded_year,employees,description,tags,twitter,tamaño_empresa,total_money_raised(M)
0,Digg,news,"{'type': 'Point', 'coordinates': [-122.394523,...",2004,60,user driven social content website,"community, social, news, bookmark, digg, techn...",digg,small,45.00
1,Geni,web,"{'type': 'Point', 'coordinates': [-118.393064,...",2006,18,Geneology social network site,"geni, geneology, social, family, genealogy",geni,small,16.50
3,Scribd,news,"{'type': 'Point', 'coordinates': [-122.404052,...",2007,50,Read Unlimited Books,"book-subscription, digital-library, netflix-fo...",scribd,small,25.80
4,MeetMoi,social,"{'type': 'Point', 'coordinates': [-73.985506, ...",2007,15,Mobile Dating,"mobile, dating, location, realtime, phone",meetmoi,small,5.58
6,Plaxo,web,"{'type': 'Point', 'coordinates': [-122.055197,...",2002,50,Contact Management,"contact-management, address-book, sync, contac...",plaxo,small,28.30

In [14]:
# filtro categorias y año de fundacion (empresas que tengan maxixmo 10 años)

df_companies = df_companies.loc[df_companies['category'].isin(['news', 'web','games_video','mobile',
                                                               'photo_video', 'security', 'network_hosting',
                                                               'messaging', 'hardware', 'enterprise','software',
                                                               'ecommerce', 'public_relations', 'finance', 'music',
                                                               'analytics', 'biotech', 'sports','automotive',
                                                               'education','consulting', 'design', 'legal', 
                                                               'manufacturing'])]

df_companies = df_companies.loc[df_companies["founded_year"]>=2008]

df_companies = df_companies.reset_index()
df_companies = df_companies.drop(['index'], axis=1)
df_companies.head()

,name,category,coords,founded_year,employees,description,tags,twitter,tamaño_empresa,total_money_raised(M)
0,GoingOn,software,"{'type': 'Point', 'coordinates': [-122.392142,...",2008,40,Private Academic Networks,"socialnetworking, enterprise, social-media, so...",GoingOn_Network,small,8.5
1,Cloudant,enterprise,"{'type': 'Point', 'coordinates': [-71.05781, 4...",2008,70,NoSQL database managed service,"cloud-computing, big-data, databases, software...",cloudant,small,18.3
2,KIT digital,enterprise,"{'type': 'Point', 'coordinates': [-73.971655, ...",2008,200,video distribution solutions,,kitdigital,medium,20.0
3,YouBeQB,games_video,"{'type': 'Point', 'coordinates': [-122.151158,...",2008,8,,"youbeqb, fantasyfootball, fantasyleague, sports",,startup,0.0
4,Crunchyroll,games_video,"{'type': 'Point', 'coordinates': [-122.393229,...",2008,50,Digital Entertainment and Media Platform,"crunchyroll, anime, manga, video, gaming, musi...",crunchyroll,small,4.8

In [15]:
#elimino los registro que no tengan datos en coordenadas

df_companies = df_companies.loc[df_companies['coords']!= {'type': 'Point', 'coordinates': [None, None]}]

In [16]:
# guardar un nuevo json con las compañias seleccionadas y las coordenadas en formato geojson

df_companies.to_json("companies_clean.json", orient="records", lines=True)

In [17]:
df_companies.shape

(1043, 10)

In [18]:
df_companies['coords'][333]

{'coordinates': [-88.294854, 41.931912], 'type': 'Point'}

## Una vez el el json limpio y con las coordenadas en formato GeoJson, lo guardo y lo importo desde mongodb.

In [19]:
# Creo una lista con pares de coordenadas
list_names = list(df_companies['name'])
list_coord = list(df_companies['coords'])
list_coord = list (map(lambda d: d['coordinates'], list_coord))
list_names

dict_coord = dict(zip(list_names,list_coord))

In [20]:

def near_companies(coords): # esta función devuelve un dataframe con las empresas en un radio de 50km
    cursor = db.clean_companies.find({
      "coords": {
        "$near": {
          "$geometry": {
            "type": "Point",
            "coordinates": [coords[0], coords[1]]
          },
          "$minDistance": 0,
          "$maxDistance":5000
        }
      }
    })
    
    df_geocomp = pd.DataFrame(list(cursor))
    
    return df_geocomp


def results (df_geocomp):
    numero = df_geocomp['name'].count()
    category = df_geocomp['category'].value_counts()
    tamaño = df_geocomp['tamaño_empresa'].value_counts()
    return "Empresas:{}\nCategorias:\n{}\nTamaño:\n{}".format(str(numero),category,tamaño)


def results_df (df_geocomp):
    results_df = df_geocomp[['name','category','tamaño_empresa']].copy()
    return results_df

def number (df_geocomp):
    return df_geocomp['name'].count()

In [21]:
# Empresas con el numero de empresas que hemos filtrado que tienen alrededor

for name, value in dict_coord.items():
    print(name, number(near_companies(value)))

GoingOn 62
Cloudant 10
KIT digital 51
YouBeQB 2
Crunchyroll 62
GENWI 1
headr 13
Fixya 9
alluc 1
Webnode 1
WonderHowTo 12
First30Days 1
Mibura 11
PokerPlayersSocialNetwork 4
thatsmymouse 1
Triptuber 1
Unknown Vector 63
Poodz 1
Jirbo 4
Social Gaming Network 27
Stumpedia 1
fotopedia 17
YouNoodle 62
Newspond 1
CineGoGo 9
Academic Capital Exchange 15
RareShare 22
Scred 1
ZapNat 2
Workpost 1
99designs 62
nobosh 4
Crootpad 1
Skydeck 9
Gnip 5
Ninite 64
Darrb 2
Wordki 2
Notice Technologies 14
CreateDebate 4
ReadBurner 59
Clipta 9
InformedMD 1
Magento 2
Intent 11
BuyerRaja 1
Episodic 3
Kalibera 2
Noovo 27
Edmodo 1
Woopra 1
stickychicken 64
AudioMicro 1
Weardrobe 27
GamerNook 1
Twubble 3
Edistorm 3
FinFolio 1
FragMob 13
skoogO 2
Jobingenieur 4
Mojiva 50
Cutcaster 40
YUPPTV 1
GitHub 64
Salesconx 53
Mad Mimi 3
TutorByTxt 5
Sutros 57
Beer Universe 1
Macroaxis 62
Mollom 1
Crowdstatus 2
Imagine Whatever 1
UserVoice 1
Sideline Report 1
WotsCool 1
CheckDog 5
Serious Business 62
twit+ 3
GeoGraffiti 3
Syncplicity 6
New Relic 3
Rekatu 1
Jinni 4
Tensor Media 3
Park Hill 1
CogCog 1
FuelClinic 1
uLiken 1
Tizmos 1
FRoSP 2
College Mogul 12
Fuzz 57
Chictopia 26
Smarkets 14
Moosti 1
SmashingFeeds 3
Stitcher 64
Increo Solutions 7
Jupidi 6
JumpFrog 1
Mangaroo Media 1
Worship Journal 29
Mouth Watering Media 2
Pacific New Media 11
Blazing Bid 2
REblogg 2
Knewton 52
ScribbleLive 9
Spoonflower 1
CarArt 1
Etchstar 12
Ovologic 1
OtherInbox 10
Socruise 1
wagehub 2
SFentrepreneur 64
VendorCity 1
Plurk 4
Pinch Media 53
PRunderground 1
Manam Infotech 1
Ucareer 9
DormTrader 1
MESOMOCO 1
Sazell 23
Wazzala 1
Orbster 2
NitroDesk 2
Monkiri 1
Plentitube 53
BrandYourself 2
Strateer 45
Ladies Who Launch 53
CollegeConvo 3
iPlaceBook 1
Restyleme 1
PerfectBusiness 10
Estilook 2
Tapulous 27
Faneebo 1
Passitto 5
Carfeine 1
Ziipa 1
Scintella Solutions 6
TrademarkFly 3
Ziippi 27
Pink Banana Media 12
Titan Gaming 3
gAuto 3
Bizroof 64
Norada 1
Geekdom 5
Dojo Learning 1
BitRock 2
Xilinus 3
EventElephant 8
Bragosphere 1
oybuzz 1
CreActivity Focus 1
Yaika 1
Pixelmatic 11
Forvo 1
Uprizer Labs 8
JumpForward 13
Gimigo 1
Mobile Teleshoppe 1
Posterous 64
SNASM 1
Jetrecord 1
Open Places 58
Widgenie 1
TweetDeck 23
vunite media 1
Ninth Yard 10
Regator 6
BeeBole 4
Willard John Thomas Associates 1
Wi-Not 1
BackVerse 1
Prolebrity 11
PurpleTalk 8
The Drum Fill 1
GEN247 43
Wahanda 1
Google And Blog 4
EcoFlip 64
GigMaven 51
Bars For Us 2
Tripy Travel 1
Scavenja 62
SMS Poll 1
World Wide Talent Search 2
Rock Entertainment 7
MedicareSaver 1
Blinkweb 1
InstantAmber 1
Dynamic50 23
BizUnite 1
15Talents 13
Jibes 3
OpenDrive 62
IdeaFry 1
IBTgames 1
WorkoutBOX 1
84ideas 3
Advisor 64
Qovax 1
MapVersa 4
Samfind 11
Relativity 1
Ratemyideas 2
Handcrafted 1
Tweenky 1
Allvoices 63
ResearchScorecard 5
Price Comparison Guru 2
Prezi 2
TeamSupport 3
Mixcloud 2
Click2Map 1
tagga 10
HAM-IT 2
ngmoco 62
RankBoom 27
CompareAway 1
want2do 8
LocalPrice 3
Videonewmedia 1
SchoolPulse 1
Shop Like Anna 14
TuneyFish 1
retaggr 7
Same Page Capital 64
Treasuremytext 3
YellowSpaces 56
RevJobs 2
Tubefilter 12
Spellspace 2
Classtell 5
Orinea 17
TheWebService 2
Millform 3
TwitterCounter 9
Integrate 43
Koofers 2
Digital ReveNew 2
vufind 25
Groopi 2
Strider SEO 4
Poll Everywhere 13
YadaHome 8
Plum Amazing 2
eTalkup 3
Occipital 5
App Cubby 2
Cityflats4you 3
LastPass 3
Mobclix 27
Diditz 2
NewMarCom 9
cosinity 2
Adgregate Markets 2
iCharts 9
plaYce 61
IdenIve 2
Thomson Reuters 53
Producteev 39
The Impartial Observer 6
Bojam 27
Twonq 63
eLagaan 3
Papervitamins 53
CropMom 2
Yammer 64
Twittad 2
911ice 3
IncSpring 2
TopNotchThemes 64
Tweegee 4
Pepmall 2
splaht! 2
Daily Flat Rental 3
Spare Change Payments 4
BrainyAtom 2
Jorbb 5
Dooit 2
Shastic 4
Lolapps 62
Call Me Later 2
SnapPages 5
TickerGram 2
Band Metrics 6
UpdateStar 2
uTag 5
ContestMachine 2
Samepoint 55
InnerRewards 63
Webtogs 2
AUPEO! 13
IT Stocklist 1
Rethink SEO 3
TimeRime 2
DealBase Corporation 8
Cliqset 1
WWCTN 1
Magoosh 4
FotoDesk 1
iPads 1
NUresume 1
FreeTreeTravel 1
Curbsidebooty 2
T-Cast Media Consulting 5
Unigo 52
MarkTend 3
SocialMoms 27
SocialTwist 9
Glued Network 1
TWIOA 1
DandyID 2
PeoplePad 10
Groupon 14
Mobelux 1
LoadStorm 1
Navara 1
BuzzStream 10
findwell 14
Big In Japan 5
Wiggio 10
Scrumy 2
psd2css Online 1
Smule 62
Calameo 17
Visuamobile 17
ReplayGamez 1
IGOpeople 8
fotoglif 8
Denook 1
iKlax Media 1
TVLesson 1
Vengeo 5
FanSpan 2
NessDex 1
Sailthru 53
Expand Online 2
VIrtualVu 1
Karmerd 4
Bleacher Advisor 1
BuzzGain 8
Buzzr 56
Vuclip 5
Cloudera 5
AlphaClone 63
Pongr 2
StellarSurvey 1
Maptimize 3
Speechlabs 2
Formspring 1
RGA Advisors, LLC 56
Wishabi 4
UptimeArchive 5
FACEinHOLE 4
friendmee 2
CarZen 36
Blog to it 1
Dukky 1
telewebber 1
Clubbyclub 3
Stupeflix 16
eMapia 2
BrightScope 4
CityPorters 2
GC Marshall 15
WJT Global Solutions 2
Rubysophic 1
Cookstr 33
IFXworks 1
PornLikeThat 1
Yipit 56
Tivix 64
FiPath 6
Virgance 62
txtr 13
booksRhere 2
NewDocs 1
Vertical Social Networks 6
148Apps 64
Mondo Food 2
StudyBlue 1
ForGrabs 1
Aghreni Technologies 4
Daily Challenge 8
Allure Media 5
DreamBank 11
ZOOZ Mobile 2
SpiceCSM 1
aladom 2
Commentag 2
Dorman Media 1
Decho 13
Ascribe 1
Cyphercor 1
Balsamiq 3
Innoz 1
Aligned Global 1
myJournal 2
Saltlick Labs 4
Clowdy 2
Fuzzyshot 7
iStockCV 2
SocialToo 1
cago 12
DoggieInk 1
Double Encore 1
Movirtu 14
Oggle Interactive 10
InnovSoft Consulting Limited 1
IsayBlog! 2
MyVishwa 1
Herrmann NA 1
Mortgages and Loans Ireland 8
Carsala 4
Tiiptop 17
GoalsOnTrack 1
Wipee List 6
Speedchecker 1
Rhiza Labs 2
ZingSale 2
Blue Parabola 10
utopia 365 1
Pinota 11
Queralt 1
Extanz 1
PostMapper 1
echolibre 8
Nylvi 1
mobiManage 1
Ethervision 1
Valu Valu 14
BudURL 4
People Capital 53
b2b2dot0 1
Fitnio 9
JobsTAXI 4
Planzone 1
Gemzies 8
MessageBunker 1
CyberSynchs 56
Montclair Advisors 1
MarketRiders 1
Foundry Interactive 8
SHUB 2
Guaranteach 1
TrackMyPeople 1
Renterval 3
Analytix On Demand 1
Contour Data Solutions 1
LeapFish 2
gliider 31
Woonky 1
Weddingdates 1
Circle of Moms 62
AD-Village 4
Logicbowl 3
Heralsoft 1
Social1000 1
able2know 12
Unison Technologies 46
Shortlister 2
TRIBAX 11
NetCitadel 1
Silver Tail Systems 26
Logic Voice 1
Tengaged 6
Redriever 4
Drync 3
Voyij 5
Utxtud8 2
Coveroo 62
Know Your Venue 2
Diverse Ventures 1
Webzzle 26
Mobizim 5
Orbis Biosciences 1
Urbantastic! 9
MPLOYR 11
The Lost Jacket 10
Reachoo 1
popdat 1
ZimpleMoney 2
Wealthfront 27
Professional Blog Service 1
Stax Networks 14
FilmSuggest 2
StockTwits 2
FutureTap 1
Krabi ja Mask 1
Indee 59
Zoosa 1
Implied Solutions 13
CtoJ 2
Userspots 1
xzapps 1
WideTag 5
CodeLean 1
MixMyGranola 2
Remixin 12
Central Reservations 8
Salestrakr 1
mTelematics 3
Jobvue 1
espor 1
Tsavo Agency 11
C2G 1
Contemporary Analysis 1
MediaWheel 4
Do You Wanna Hook Up? 1
RJMetrics 5
GymFu 1
Deal Linker 1
5th Finger 63
facelovefinder 1
CureTogether 7
IAmInTown 44
Demotix 12
TwittBot 1
eCampusCash 3
Ricochets Interactive 1
CareerPlayer 23
Bid for Wine 1
iugo 1
MacMedic PRO 1
Pixel Spills 1
Kramaley Games 21
storm ideas 2
Internet Television Solutions 1
Lymabean 1
ZeroTouch 8
Otalo 1
Flowz 1
ORY Software 1
Trutoon 27
Digital Meld 1
One did it 4
CalendarFly 1
Corkin 1
JotNot 6
TalentEgg 8
Twtapps 3
Kaeuferportal 13
Filmed Media 12
Trustworthy 9
iShopWiser 2
eShark Network 1
Meez 62
Blellow 1
Feedscrub 6
Social Gaming Platform 1
Ceylon Solutions 1
Intergrid 4
sexietv 2
Uptimehost 5
OutlookCloud 9
AdJuggler 2
SAMP2 1
AssureSign 1
SmallBusinessExpo 1
Zopim 1
Fund Mojo 8
Sabi 5
Hello Travel 48
Sixteen Ventures 1
GrouperEye 9
Skilto 4
Onista 9
Dog Files 3
midVentures 14
trekaroo 23
iplotz 1
Enough Pepper 3
Digital Bloom 1
DooShare 1
Leximo 10
Ruby50 23
Pistachio Consulting 10
Talari Networks 4
KODA 64
Audiolife 1
HotPrints 24
Fredlund Media 1
Wisevid 10
Zammr 1
Interacto 1
Zankyou 1
Asurrent 1
Shutl 21
Socialize 5
Ontology2 1
Music For Busy People 50
TagMyEvent 2
Centillion 1
alteregoweb 1
Lokad 15
TalentEquity Solutions 1
AdventureDrop 4
CollectiveSys 2
Black Ninja Software 11
Showtime Studios 1
JobsByRef 2
AccuNOC 1
AfterWorkDeals 16
kinDragon 1
Tigersites 5
Shop N Chill 11
SEO Komodo 1
Zapproved 1
muchBeta 1
Mobiata 2
ArtFire 1
FlowMingle 1
VouChaCha 23
CanvasGrafix 1
Outright 4
Mapplr 9
EchoCurrent Software 1
The PODFather 2
PicsOrLinks 1
ShopCorn UK 1
StickyPages 1
Rouse Media 1
Contails 1
ExpertHub 2
Neutron Creations 28
ZOS Communications 1
Reflect7 1
studdex 1
Tinychat 1
Comunitae 1
Transifex 25
completelyprivatefiles 1
iCelebrate 27
StarWind Software 2
Hireglyphics 9
Wine by the Bar 1

Remindo 9
VEO Media Vietnam 1
Plupper 1
LSF Design 2
Gurutoy 1
BASH Gaming 1
Purebred Network 27
Interlaced Systems 1
Frontier Service Design 1
Frosmo 4
Dodreams 4
SwitchGames 53
Startup Revival 64
L4 Mobile 3
Tech Profuse 1
Coupon Tweet 12
CitySpur 3
Tiriyo Technologies 1
SocialCom 11
Cloudize 63
SeatKarma 2
AppZero 2
howsimple 1
Skoodat 1
TranZfinity 1
TwitterCorp 1
PebbleForge 1
Parents R People 1
Action Sports Branding 1
Mobiquus 5
Scrobl 1
Open Web Technology 1
Patch 53
The Vertical Action Group 62
Viridity Software 2
Optify 13
BrandFolium Corporation 12
Wee Web 53
rent2friend 23
VideoCustomizer 25
TheOfficialBoard 2
IGLOO Software 3
Fantazzle Fantasy Sports Games 6
Dinsk 2
Moodstocks 1
Gridstore 8
recombitex 3
VitalLock 11
TaskUs 11
Sentry Parental Controls 2
OBE Pro 1
Proper Cloth 49
Gifteer 1
Scopial Fashions 1
IrishCentral 56
Veridictus Associates 1
Baynetwork 23
Blippitt 1
Cuteness Pet Community 9
yiid 1
Pitchero 1
Habidoo 11
StartUpHire 3
JoggingBuddy 2
The Magnetic Think 5
ChronoWake 5
PDUs Direct 1
userADgents 17
SCVNGR 10
Fotomina 1
StickyStreet 10
Fiabee 4
tolingo 4
CMS Critic 3
Kapitall 50
Setster 9
Home-Account 62
Arimaz 1
AmberBit 1
ProtoShare 3
GameChanger Media 35
Ashe Media Holdings 3
IntheGlo 56
Z2Live 13
SwapBeats 1
Validize 1
Gate 53|10 Technologies 5
Y Media Labs 5
RockDex 1
Touch Ahead Software 10
Tongal 11
Ranker 8
Tamundo 11
Musicmetric 19
Neovada 2
oneforty 12
ShopaService 1
iPlanmaker 13
Mediastroika 15
Link Trigger 1
Blog Traffic Exchange 25
LAGrapeVine 1
tracx 4
Americanlisted 48
Chartbeat 55
Think Orange 3
crush tweet 2
Aigc middleast 2
Synonym 1
HyTrust 7
Loop11 1
Trigora 1
upad 12
Novelion Media 1
RipCloud 58
Weebiz 1
Brandsclub 2
Plug in SEO 23
Swiffen 17
Smallaa 5
CineSoft 1
Imagga 1
Joobili 2
Restox 2
BoardEvals 1
Antelink 16
MyHandle 1
Rovingbird 2
djacap 1
watercompare 23
VetAnyware 2
Jakun Media 1
WEEZEVENT 1
Jumbilo 1
Handbags4Hunger 1
THE SYSTEM ARCHITECT 3
Samasource 62
Fresh ! 2
Aptocore 2
Compel Interaction 1
Knag Enterprises 5
Tweenjo 28
psychiatryRounds 7
Shopseen 1
Silvatar Media 3
Online Outbox 3
Wijng 1
MindReign 1
Space Spare 9
Lunch 1
Webteilchen 1
MyEdu 10
Gameleaper 3
Alkali Media 6
TrialX 53
quoobs 8
TikiWade 1
Hayen Company 2
1calendar 2
Infochimps 9
Bamboudesign 63
printium 1
Belighted 2
Milo 27
YesFreelance 15
all140 3
AlphaPoint Technology 1
BIT TV 2
HariOmTechnologies 1
Buildify 25
Distimo 3
GroupieGuide 13
Ahlera 1
Bvocalized 1
Bloo 3
LendingKarma 64
BigSpire Technologies 2
Krumlr 1
AppStoreHQ 13
PaperSports 1
Me!Box Media 1
Pressitt 2
CubeTree 5
Servo Software 9
Worky 8
Varsity Outreach 8
Graticle 1
ArcTouch 62
Pikkoo 1
OCTALINE 7
Owngig 1
MedCity News 1
Book'd 1
makandra 1
Dance Channel TV, Inc 1
Statugle 8
Glympse 14
DP7 Digital 1
Avatron Software 1
AppNinjas 62
JustProto 1
JamesList 3
NecesCity 1
Wetoku 1
Fan 1
ToolzDO 1
ReSolutions LLC 1
Sigasi 2
Bueno Inc 2
jamWee 1
Secure BI 2
ZackBrandit 1
Hostarting 1
Centic 1
skobbler 5
QxMD Software 12
expertnews 6
Flaggpole 14
Pixlr 3
ReferenceBot 1
Vaultive 35
The Resumator 2
Sponty 11
Funnela 1
HashCube 2
3Gstore 2
AppUseful 10
Farmsphere 1
College Art Online 4
Undead Code Studios 1
Fliptop 64
ServiceSphere 2
Hara 21
IndiaOnAPage 3
barcoo 11
Nalts Consulting 1
ArtNeighbor 55
Primediart 1
YOOSE 11
Kwaga 10
sipgate 63
Movip 4
ekidnaworld 1
mTrip 3
scoyo 6
OnePage 1
Exploroo Pty Ltd 1
FindandSmile 2
Covet Shop 53
Udorse 53
Meuzer 2
YesOrNow 17
Zookel 21
HURRYCAM 17
Pathway Genomics 4
Stereomood 2
Engagement Systems 1
Bar Exchange 27
Nirvana 3
Finest Expert 64
Kloud Mobile 1
RxVantage 6
Buddingup 3
One Simple Move 62
ZIPQODE 6
BitMethod 2
Eventric 8
Dosensio 8
Strategist News 55
Disrupto 33
ipadio 1
HomePros 3
Ykone 17
youserbase 1
ResuWe 1
Startlike 2
BetKlub 16
B32TRUST 17
Enternships 22
Kimengi 9
oneDrum 23
Information Card Foundation 2
Joroto 1
Kvittar 1
Layar 9
Multiso Multimedia Solutions 1
Peekspy 5
OnlineMQ 1
Taxi Fares app 3
Steppy Frog Design Studio 1
DSwiss 3
Lipperhey 8
iBizLog 1
Waveative 1
Wikitude 1
CrowdGather 1
Amrita Financial 1
Vortimer 9
Myhive 12
Mobiles Republic 1
ubigrate 1
140Ware 1
Asyus 3
Michigan Virtual Law 2
ChallengePost 53
Kear IT 1
StyleCaster 56
Outspoken Media 1
Teambox 5
flexjex 2
SalesInsight 1
Testplant 21
Clickom 8
Homesnap 2
Culture Jam 11
ftopia 8
Tiverias Apps 11
HOTForms123 10
Continuity Engine 1
Pipit Interactive 10
pTracker 10
Bookwhen 1
Conversition 53
Fictionaut 7
Jelli 9
Tiny Speck 11
SEO Sumo 1
acrossair 24
MyChances 1
Getyoo 4

In [25]:
# Creo un diccionario nuevo solo con las empresas que han salido con un mayor de empresas cercanas elegidas

select_companies = {k: dict_coord[k] for k in dict_coord.keys() & {'GoingOn','Crunchyroll','Unknown Vector','YouNoodle','99designs','Ninite','stickychicken','GitHub',
        'Macroaxis','Serious Business','Stitcher','SFentrepreneur','Bizroof','Posterous','EcoFlip','OpenDrive',
        'Advisor','Allvoices','ngmoco','Same Page Capital','Twonq','Yammer','TopNotchThemes','Lolapps',
        'InnerRewards','Smule','AlphaClone','Tivix','Virgance','148Apps','Circle of Moms','Coveroo','5th Finger',
        'Meez','KODA','Startup Revival','Cloudize','The Vertical Action Group','Home-Account','Samasource',
        'Bamboudesign','LendingKarma','ArcTouch','AppNinjas','Fliptop','sipgate','Finest Expert','One Simple Move'}}

select_companies = pd.DataFrame.from_dict(select_companies, orient='index')

select_companies = select_companies.reset_index()

select_companies.columns = ['name','long','lat']

select_companies.head()

               name        long        lat
0  Serious Business -122.401362  37.789321
1      LendingKarma -122.418600  37.775300
2             Tivix -122.423132  37.792303
3   Startup Revival -122.419204  37.775196
4       Crunchyroll -122.393229  37.781265

In [23]:
select_companies.to_json("companies_select.json",orient='records')

In [37]:
companies = df_companies[['name','category','coords','tamaño_empresa']]

df_= pd.DataFrame(pd.DataFrame(companies["coords"].values.flatten([0]).tolist()))
companies = pd.concat([df_,companies],axis=1)


coord = companies['coordinates'].apply(pd.Series)
companies = pd.concat([companies[:], coord[:]], axis=1)
companies = companies.drop(['coords','type','coordinates'], axis=1)

companies.columns = ['name','category','tamaño_empresa','long','lat']

companies.head()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: Non-string object detected for the array ordering. Please pass in 'C', 'F', 'A', or 'K' instead
  This is separate from the ipykernel package so we can avoid doing imports until

          name     category tamaño_empresa        long        lat
0      GoingOn     software          small -122.392142  37.782263
1     Cloudant   enterprise          small  -71.057810  42.358920
2  KIT digital   enterprise         medium  -73.971655  40.751816
3      YouBeQB  games_video        startup -122.151158  47.597965
4  Crunchyroll  games_video          small -122.393229  37.781265

In [38]:
companies.to_json("companies_all.json",orient='records')